<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="RouterDinamicoVueJS" />
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                    <conditions>
                    </conditions>
                </rule>
                <rule name="RouterDinamicoVueJS" enabled="true" stopProcessing="true">
                    <match url="(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="^(?!.*\/api).*$" negate="true" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
